################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs/MDACSHTTPServer/v15
/~$ReleaseCheckSheet_0.2.1.xlsx
/~$ReleaseCheckSheet_1.2.2.xlsx
